In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from missingpy import KNNImputer
import copy
from sklearn.preprocessing import LabelEncoder;

In [2]:
df=pd.read_csv('train.csv')

FileNotFoundError: [Errno 2] File b'train.csv' does not exist: b'train.csv'

In [ ]:
df.head()

In [ ]:
# 80% of counts are 

class columnTypeIdentification:
    def __init__(self, df):
        self.dtypes={}
        self.df=df
        for i in self.df.columns:
            self.dtypes[i]=(self.df[i].dtypes)
#         print(self.dtypes)
        self.colTypes={'Categorical': [], 'Text':[], 'Numeric': []}
        self.detectingColTypes()
        target_type=''
        
        for i in self.colTypes.keys():
            if y in self.colTypes[i]:
                target_type=i
                break
        self.target_type=target_type
    
    def detectingColTypes(self):
        for i in self.dtypes.keys():
            if self.dtypes[i]=='O':
                if (df[i].fillna('',axis=0).apply(lambda x: len(x))).quantile(q=0.95)<20:
                    self.colTypes['Categorical'].append(i)
                else:
                    self.colTypes['Text'].append(i)
            else: 
                distinctValues = self.df[i].nunique()
                if distinctValues < int((self.df[i].shape[0])*0.05):
                    self.colTypes['Categorical'].append(i)
                else:
                    self.colTypes['Numeric'].append(i)

In [ ]:
class nullHandling():
  
    def __init__(self, df):
        self.dict_isnull = (df.isnull().sum() / len(df)).to_dict()
        self.df=df
        self.colTypes=colTypes.copy()
 
    
    def remove_columns(self):
        cols_remove=[]
        for key in self.dict_isnull:
            if(self.dict_isnull[key]>0.75):
                cols_remove.append(key)        
        if not cols_remove:
            return self.colTypes
        else:
            for i in cols_remove:
                for j in self.colTypes.keys():
                    if i in self.colTypes[j]:
                        self.colTypes[j].remove(i)
        if y in cols_remove:
            cols_remove.remove(y)
        
        self.df.drop(cols_remove,axis=1, inplace=True)
        
#         return self.colTypes
        
    
    def continuous_impute_zero(self):
        df_temp=self.df.copy()
        df_temp[self.colTypes['Numeric']]=df_temp[self.colTypes['Numeric']].fillna(0)
        return df_temp
    
    def continuous_impute_mean(self):
        df_temp=self.df.copy()
        imputer = SimpleImputer(strategy='mean')
        df_temp[self.colTypes['Numeric']] = imputer.fit_transform(df_temp[self.colTypes['Numeric']])
        return df_temp
    
    def continuous_impute_knn(self):
        df_temp=self.df.copy()
        imputer = KNNImputer(n_neighbors=5) 
        df_temp[self.colTypes['Numeric']] = imputer.fit_transform(df_temp[self.colTypes['Numeric']])
        return df_temp
    
        
    def impute(self,strategy,fill_value = 0, fill_categorical = '-1'):
        df_temp=self.df
        
        #Dealing wit Continuous cols
        if strategy is None:
            df_temp[self.colTypes['Numeric']]=df_temp[self.colTypes['Numeric']].fillna(fill_value)
        elif strategy == 'mean':
            self.continuous_impute_mean()
        elif strategy == 'knn':
            self.continuous_impute_knn()
            
        #dealing with categorical Cols_temp[self.colTypes['Categorical']]=df_temp[self.colTypes['Categorical']].fillna(fill_categorical)
        
        return df_temp

In [3]:
class FeatureReduction:

    def __init__(self,df):
        self.df=df
        self.colTypes=copy.deepcopy(colTypes)

        self.colTypes[target_type].remove(y)
        self.all_dfs=[]
        self.pearsons_corr()

    def pearsons_corr(self):
        self.colTypes['Numeric']=set(self.colTypes['Numeric']).intersection(set(self.df.columns))
        corr=self.df[list(self.colTypes['Numeric'])].corr(method="pearson").abs()
        upper = corr.where(np.triu(np.ones(corr.shape), k=1).astype(np.bool))
        to_drop = [column for column in upper.columns if any(upper[column] > 0.80)]
        self.df.drop(to_drop, axis=1,inplace=True)
        self.colTypes['Numeric'] = [x for x in self.colTypes['Numeric'] if x not in to_drop]
        self.all_dfs.append(self.df)

    def return_dfs(self):
        return self.all_dfs

In [4]:
class Outlierhandling():
    def __init__(self,df):
        self.df=df.copy() 
        self.colTypes=copy.deepcopy(colTypes)
        
        self.colTypes[target_type].remove(y)
        
        self.colTypes['Numeric']= set(colTypes['Numeric']).intersection(set(df.columns))
        
        self.all_dfs=[]
        self.capping_outlier() 
     #   self.remove_outlier()
        self.zscore_outlier()
      
    def capping_outlier(self,lowerperc = 0.01,higherperc = 0.99):
        df = self.df[list(self.colTypes['Numeric'])].copy()
        df_out = self.df
        for col in df.columns:
            percentiles = df[col].quantile([lowerperc,higherperc]).values
            df[col][df[col] <= percentiles[0]] = percentiles[0]
            df[col][df[col] >= percentiles[1]] = percentiles[1]
            df_out[list(self.colTypes['Numeric'])] = df
        self.all_dfs.append(df_out)
    
    
    def remove_outlier(self):
        df_out=self.df[list(self.colTypes['Numeric'])].copy()
        df_in = self.df.copy(deep=True)
        df_in.drop(list(self.colTypes['Numeric']),axis=1,inplace=True)
        for col_name in df_out.columns:
            q1 = df_out[col_name].quantile(0.25)
            q3 = df_out[col_name].quantile(0.75)
            iqr = q3-q1
            lower = q1-1.5*iqr
            upper = q3+1.5*iqr
            df_out = df_out.loc[(df_out[col_name] > lower) & (df_out[col_name] < upper)]
            df_final = pd.concat([df_in,df_out],axis = 1,join='inner')           
        self.all_dfs.append(df_final)
    
    
    def zscore_outlier(self,threshold = 3):
        l = []
        df1=self.df.copy(deep=True)
        df = self.df[list(self.colTypes['Numeric'])].copy(deep=True)
        df1.drop(self.colTypes['Numeric'],axis=1,inplace=True)
        df_out = pd.DataFrame()
        for i in df.columns:
            temp = []
            mean_1 = np.mean(df[i])
            std_1 =np.std(df[i])  
            for y in df[i]:
                z_score= (y - mean_1)/std_1 
                if np.abs(z_score) < threshold:
                    temp.append(y)
            df_temp = pd.DataFrame(temp)
            l.append(df_temp)
        df_out = pd.concat(l,axis = 1,join = 'inner')
        df_out.columns = df.columns
        df_final = pd.concat([df1,df_out],axis = 1,join='inner')  
        self.all_dfs.append(df_final)
    
    
    
    def return_dfs(self):
        return self.all_dfs

In [464]:
class Encoding:

    def __init__(self,df):
        self.colTypes=copy.deepcopy(colTypes)
        self.colTypes['Categorical'] = set(df.columns).intersection(set(colTypes['Categorical']))
        if y in self.colTypes['Categorical']:
            self.colTypes['Categorical'].remove(y)
            
        self.df=df.copy()
        self.all_dfs = []
        self.one_hot_encode()
        self.label_encode()

    def one_hot_encode(self):
        df1=self.df.copy(deep=True)
        df_y=pd.DataFrame()
        df1=pd.get_dummies(df1,drop_first=True,columns=list(self.colTypes['Categorical']))
        self.all_dfs.append(self.target_encode(df1))

    def label_encode(self):
        df1=self.df.copy(deep=True)
        df_y=pd.DataFrame()
        for x in self.colTypes['Categorical']:
            df1[x] = LabelEncoder.fit_transform(df1, y=df1[x])
        self.all_dfs.append(self.target_encode(df1))

    def target_encode(self,t_df):
        if y not in self.colTypes['Numeric']:
             t_df[y] = LabelEncoder.fit_transform(t_df, y=t_df[y])
        return t_df
       

    def return_dfs(self):
        return self.all_dfs

In [465]:
y='Survived'
#Col Indentification
colIdentObj=columnTypeIdentification(df)
colTypes=colIdentObj.colTypes
target_type=colIdentObj.target_type


#Null handling
nullHndlngObj=nullHandling(df)


# colTypes=nullHndlngObj.remove_columns()
df_dict={}
for strategy in [None, 'mean', 'knn']:
    df_dict['null_strategy_'+str(strategy)] = nullHndlngObj.impute(strategy)


#Feature Reduction
df_all=[]
for i in df_dict.keys():
    fRdctionObj=FeatureReduction(df_dict[i])
    df_all.extend(fRdctionObj.return_dfs())


#Outlier handling
df_all_oh=[]
for i in df_all:
    OH=Outlierhandling(i)
    df_all_oh.extend(OH.return_dfs())
    
    
#Encoding columns    
df_all_en=[]
for i in df_all_oh:
    en=Encoding(i)
    df_all_en.extend(en.return_dfs())    

    
    
#output of EDA : df_all_en

{'Categorical': ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], 'Text': ['Name'], 'Numeric': ['PassengerId', 'Age', 'Fare']}
{'Categorical': ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], 'Text': ['Name'], 'Numeric': ['PassengerId', 'Age', 'Fare']}
{'Categorical': ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], 'Text': ['Name'], 'Numeric': ['PassengerId', 'Age', 'Fare']}

C:\Users\SatyaSindhuMolleti\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SatyaSindhuMolleti\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SatyaSindhuMolleti\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SatyaSindhuMolleti\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SatyaSindhuMolleti\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SatyaSindhuMolleti\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SatyaSindhuMolleti\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:236: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.classes_, y = _encode(y, encode=True)

In [462]:
colTypes['Numeric']

['PassengerId', 'Age', 'Fare']

In [467]:
df_all_en[10]

,Survived,Name,Age,Fare,PassengerId,Sex_male,Cabin_A10,Cabin_A14,Cabin_A16,Cabin_A19,...,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
0,0,"Braund, Mr. Owen Harris",22.0,7.2500,9.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,71.2833,9.9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,"Heikkinen, Miss. Laina",26.0,7.9250,9.9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,53.1000,9.9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,"Allen, Mr. William Henry",35.0,8.0500,9.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,"Moran, Mr. James",0.0,8.4583,9.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,"McCarthy, Mr. Timothy J",54.0,51.8625,9.9,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,"Palsson, Master. Gosta Leonard",2.0,21.0750,9.9,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
8,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",27.0,11.1333,9.9,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,1,"Nasser, Mrs. Nicholas (Adele Achem)",14.0,30.0708,10.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,"Sandstrom, Miss. Marguerite Rut",4.0,16.7000,11.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11,1,"Bonnell, Miss. Elizabeth",58.0,26.5500,12.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,"Saundercock, Mr. William Henry",20.0,8.0500,13.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,"Andersson, Mr. Anders Johan",39.0,31.2750,14.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,0,"Vestrom, Miss. Hulda Amanda Adolfina",14.0,7.8542,15.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,"Hewlett, Mrs. (Mary D Kingcome)",55.0,16.0000,16.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,"Rice, Master. Eugene",2.0,29.1250,17.0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
17,1,"Williams, Mr. Charles Eugene",0.0,13.0000,18.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",31.0,18.0000,19.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1,"Masselmani, Mrs. Fatima",0.0,7.2250,20.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,"Fynney, Mr. Joseph J",35.0,26.0000,21.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,"Beesley, Mr. Lawrence",34.0,13.0000,22.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,"McGowan, Miss. Anna ""Annie""",15.0,8.0292,23.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,"Sloper, Mr. William Thompson",28.0,35.5000,24.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,"Palsson, Miss. Torborg Danira",8.0,21.0750,25.0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
25,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",38.0,31.3875,26.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26,0,"Emir, Mr. Farred Chehab",0.0,7.2250,27.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,"Fortune, Mr. Charles Alexander",19.0,7.8792,28.0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
28,1,"O'Dwyer, Miss. Ellen ""Nellie""",0.0,7.8958,29.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,"Todoroff, Mr. Lalio",0.0,27.7208,30.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,1,"Marechal, Mr. Pierre",0.0,11.5000,840.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
840,0,"Alhomaki, Mr. Ilmari Rudolf",20.0,25.9292,841.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
841,0,"Mudd, Mr. Thomas Charles",16.0,69.5500,842.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
842,1,"Serepeca, Miss. Augusta",30.0,13.0000,843.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843,0,"Lemberopolous, Mr. Peter L",34.5,13.0000,844.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
844,0,"Culumovic, Mr. Jeso",17.0,13.8583,845.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
845,0,"Abbing, Mr. Anthony",42.0,50.4958,846.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
846,0,"Sage, Mr. Douglas Bullen",0.0,9.5000,847.0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
847,0,"Markoff, Mr. Marin",35.0,11.1333,848.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
848,0,"Harper, Rev. John",28.0,7.8958,849.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
849,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",0.0,52.5542,850.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,0,"Andersson, Master. Sigvard Harald Elias",4.0,5.0000,851.0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
851,0,"Svensson, Mr. Johan",65.0,9.0000,852.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
852,0,"Boulos, Miss. Nourelain",9.0,24.0000,853.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
853,1,"Lines, Miss. Mary Conover",16.0,7.2250,854.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
854,0,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",44.0,9.8458,855.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
855,1,"Aks, Mrs. Sam (Leah Rosen)",18.0,7.8958,856.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
856,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",45.0,7.8958,857.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
857,1,"Daly, Mr. Peter Denis",51.0,83.1583,858.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
858,1,"Baclini, Mrs. Solomon (Latifa Qurban)",24.0,26.0000,859.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
859,0,"Razi, Mr. Raihed",0.0,7.8958,860.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
860,0,"Hansen, Mr. Claus Peter",41.0,10.5167,861.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
861,0,"Giles, Mr. Frederick Edward",21.0,10.5000,862.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
862,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",48.0,7.0500,863.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
863,0,"Sage, Miss. Dorothy Edith ""Dolly""",0.0,29.1250,864.0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
864,0,"Gill, Mr. John William",24.0,13.0000,865.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
865,1,"Bystrom, Mrs. (Karolina)",42.0,30.0000,866.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
866,1,"Duran y More, Miss. Asuncion",27.0,23.4500,867.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
867,0,"Roebling, Mr. Washington Augustus II",31.0,30.0000,868.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
868,0,"van Melkebeke, Mr. Philemon",0.0,7.7500,869.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0